button {
    margin-left: 50px;
}
.search {
    color: rgb(78, 191, 191);
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 50px;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: rgb(237, 255, 253);
    border: 2px solid rgb(78, 191, 191);
    border-radius: 15px;
}

.plus {
    color: white;
    padding: 5px;
    background-color: rgb(46, 220, 194);
    border: none;
    border-radius: 50%;
    margin-bottom:10px;
    font-size: 25px;
    width: 5%;
}

.create {
    color: white;
    background-color: rgb(63, 63, 249);
    font-size: 15px;
    padding: 5px 35px;
    border: 3px solid black;
    box-shadow: 5px 5px black;
}